<%- include('./partials/header')  %>
   <div class="container">
       <h4><%= title %></h4>
       <table class="table my-5">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Excerpt</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
            <% posts.forEach((post)=>{ %>
            <tr>
                <td data-bs-toggle="tooltip" data-bs-placement="top" title="View, Edit or Delete"><a href="/posts/<%= post._id%>"><%= post.title %></a></td>
                <td><%= post.excerpt %></td>
                <td><%= post.body %></td>
            </tr>
            <%}) %>
        </tbody>
      </table>
   </div> 
   <%- include('./partials/footer')  %>
